.logo img {
  width: 17rem;
  margin: 10px 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #141414;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.maincont {
  max-width: 1300px;
  width: 95%;
  margin: 20px auto;
}
#title h1 {
  font-size: 18px;
}

/* ✅ Responsive video container */
#video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9; /* keeps Netflix-like ratio */
  overflow: hidden
  ;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  border-radius: 20px;
  transition: opacity 1s ease-in;
}

.card {
  margin-top: 20px;
  padding: 25px 20px;
  border-radius: 20px;
  background: #343434;
}

.meta {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.badge {
  border: 1px solid #777;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 6px;
}

.advisory {
  font-size: 0.9rem;
  color: #aaa;
  margin: 10px 0;
}

h2 {
  font-size: 1.1rem;
  margin: 15px 0 5px;
  font-weight: bold;
}

.desc {
  color: #ddd;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.side-info {
  font-size: 0.9rem;
}

.side-info span {
  display: block;
  margin: 5px 0;
}

.highlight {
  color: #ccc;
}

#play{
  display: inline-block;
  background: #ccc;
  color: #1f1f1f;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.2s;
}

button:hover {
  background: #6c6c6c;
  color: #000;
}

button a {
  text-decoration: none;
  color: inherit;
}


h1 {
    margin: 8px 5px;
    font-size: 24px;
}

#detail {
  margin-top: 30px;
}

#detail h1 {
  font-size: 1.3rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 20px 0;
}

.detail1 {
  flex: 1 1 300px;
  padding: 20px;
  border-radius: 20px;
  background: #343434;
}
.detail1 p {
  color: #ddd;
  font-size: 0.95rem;
  margin-bottom: 20px;
  line-height: 1.7;
}

/* ✅ Responsive Adjustments */
@media (max-width: 768px) {
  .details {
    display: block; /* stack vertically */
  }

  .detail1 {
    width: auto;
    margin-bottom: 15px;
    padding: 20px;
  }
  .logo img {
    width: 10rem;
  }
  .maincont {

  width: 90%;
  margin: 20px auto;
}
}
