<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ballerina - StreamSphere</title>
    <link rel="stylesheet" href="/css/trailer.css" />
    <link rel="stylesheet" href="/css/hidden.css">
  </head>
  <body>
    <header>
      <div class="logo hidden1">
        <img src="/assets/hand1.png" alt="StreamSphere Logo" />
      </div>
    </header>

    <div class="maincont">
      <h1 id="title" class="">Trailer - Ballerina</h1>

      <div id="video-container" class="">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/0FSwsrFpkbw"
          title="YouTube trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="card">
        <div class="meta">
          Ballerina
          <span class="badge">4k</span>
          <span class="badge">Subtitles</span>
        </div>

        <div class="advisory">Action, Thriller, Revenge</div>

        <div class="desc ">
          A young woman with a tragic past trains to become an elite assassin.
          When her life collides with a powerful crime syndicate, she embarks on
          a relentless journey of vengeance and redemption.
        </div>

        <div class="side-info">
          <span><strong>Cast:</strong> Jeon Jong-seo, Kim Ji-hoon, Park Yu-rim</span>
          <span><strong>Genres:</strong> Movies, Action, Thriller, Revenge Drama</span>
          <span><strong>This Show Is:</strong> Intense, Stylish, Gripping</span>
        </div>

        <button id="play" class="hidden3">
          <a href="" target="_blank">Play ▸</a>
        </button>
      </div>

      <div id="detail hidden1">
        <h1>More Details</h1>
      </div>

      <div class="details">
        <div class="detail1">
          <p>
            <strong>Genres:</strong> Action Thrillers, Revenge Movies, Crime
            Dramas. <br />
            <strong>Style:</strong> Dark, Stylish, and Adrenaline-Packed.
          </p>
        </div>

        <div class="detail1">
          <p>
            <strong>Plot:</strong> After losing her best friend, a skilled
            ballerina-turned-assassin hunts down those responsible, weaving
            together breathtaking choreography with ruthless combat in a story
            of justice and revenge.
          </p>
        </div>

        <div class="detail1">
          <p>
            <strong>Cast:</strong> Jeon Jong-seo, Kim Ji-hoon, Park Yu-rim, and
            appearances by supporting actors from Korea’s top action cinema.
          </p>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/css.js"></script>
  <script>
      document.getElementById("play").onclick = function(){
      window.location.href = "/ballerinamovie";
    }
  </script>
</html>
