<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Materialists - StreamSphere</title>
    <link rel="stylesheet" href="/css/trailer.css" />
  </head>
  <body>
    <header>
      <div class="logo hidden1">
        <img src="/assets/hand1.png" alt="StreamSphere Logo" />
      </div>
    </header>

    <div class="maincont">
      <h1 id="title" style="font-size: 28px">Trailer - Materialists</h1>

      <div id="video-container">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/4A_kmjtsJ7c"
          title="YouTube trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="card">
        <div class="meta">
          Materialists
          <span class="badge">4k</span>
          <span class="badge">Subtitles</span>
        </div>

        <div class="advisory">Feel Good, Romantic, Comedy</div>

        <div class="desc">
          A young New York matchmaker discovers that true love can’t always be
          planned when she finds herself caught between her ideal client and her
          unpredictable ex.
        </div>

        <div class="side-info">
          <span
            ><strong>Cast:</strong> Dakota Johnson, Chris Evans, Pedro
            Pascal</span
          >
          <span
            ><strong>Genres:</strong> Movies, Romantic Comedy, Feel Good</span
          >
          <span
            ><strong>This Show Is:</strong> Heartwarming, Funny, Relatable</span
          >
        </div>

        <button id="play">
          <a href="#">Play ▸</a>
        </button>
      </div>

      <div id="detail">
        <h1>More Details</h1>
      </div>

      <div class="details">
        <div class="detail1">
          <p>
            <strong>Genres:</strong> Romantic Comedies, Feel-Good Movies, Modern
            Love Stories.
            <br />
            <strong>Style:</strong> Lighthearted, Entertaining, and Uplifting.
          </p>
        </div>

        <div class="detail1">
          <p>
            <strong>Plot:</strong> Exploring ambition, love, and the challenge
            of balancing personal dreams with relationships in the bustling
            streets of New York.
          </p>
        </div>

        <div class="detail1">
          <p>
            <strong>Cast:</strong> Dakota Johnson, Chris Evans, Pedro Pascal,
            with special appearances by rising stars in comedy and romance.
          </p>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("play").onclick = function(){
      window.location.href = "/materialistsmovie";
    }
  </script>
  <script src="/js/css.js"></script>
</html>
