<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Avengers - StreamSphere</title>
    <link rel="stylesheet" href="/css/trailer.css" />
  </head>
  <body>
    <header>
      <div class="logo hidden3">
        <img src="/assets/hand1.png" />
      </div>
    </header>
    <div class="maincont">
      <h1 id="#title" style="font-size: 28px">Trailer - The Avengers</h1>
      <div id="video-container">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/eOrNdBpGMv8"
          title="YouTube trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="card">
        <div class="meta">
          Avengers Assemble
          <span class="badge">4k</span>
          <span class="badge">Subtitles</span>
        </div>

        <div class="advisory">Mature themes, violence</div>

        <div class="desc">
          An all-star lineup of superheroes -- including Iron Man, the
          Incredible Hulk and Captain America -- team up to save the world from
          certain doom.
        </div>
        <div class="side-info">
          <span
            ><strong>Cast:</strong>
            <span class="highlight"
              >Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth,
              Scarlett Johansson, Jeremy Renner, Tom Hiddleston, Samuel L.
              Jackson, Clark Gregg, Cobie Smulders</span
            ></span
          >
          <span
            ><strong>Genres:</strong>
            <span class="highlight">Movies, TV Shows</span></span
          >
          <span
            ><strong>This Show Is:</strong>
            <span class="highlight">Action</span></span
          >
        </div>
        
        <button id="play">
          <a href="#">Play ▸</a>
        </button>
      </div>

      <div id="detail">
        <h1>More Details</h1>
      </div>

      <div class="details">
        <div class="detail1">
          <p>
            Genres Sci-Fi Films, Action & Adventure Films, US Movies This series
            is... Adrenaline Rush, Slick, Sci-Fi Adventure, Fast-Paced,
            Superhero, New York City, Oscar Nominee, Based on a Comic, Exciting,
            Superpowers, Movie
          </p>
        </div>
        <div class="detail1">
          <p>
            Cast Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth,
            Scarlett Johansson, Jeremy Renner, Tom Hiddleston, Samuel L.
            Jackson, Clark Gregg, Cobie Smulders
          </p>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("play").onclick = function(){
      window.location.href = "/theavengermovie";
    }
    </script>
  </body>
</html>
