<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>рд╕реНрдЯреНрд░реАрдорд╕реНрдлрд╝рд┐рдпрд░ (StreamSphere)</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="bg-blur"></div>
    <nav>
      <div class="logo hidden3">
        <img src="../assets/newlogo.png" alt="рдиреЗрдЯрдлреНрд▓рд┐рдХреНрд╕ рд▓реЛрдЧреЛ" />
      </div>
      <div class="header">
        <div class="select-wrapper">
          <select onchange="location.href=this.value" class="language-select">
            <option value="/Streamsphere">English</option>
            <option value="hindistreamsphere.html" selected>рд╣рд┐рдиреНрджреА</option>
          </select>
        </div>
        <div class="s hidden">
          <button id="Signup"><a class="btn1" href="/signup">рд╕рд╛рдЗрди рдЕрдк рдХрд░реЗрдВ</a></button>
        </div>
      </div>
    </nav>
    <div class="hero">
      <div class="overlay"></div>
      <div class="content">
        <h1 class="hidden">рдЕрд╕реАрдорд┐рдд рдлрд┐рд▓реНрдореЗрдВ, рдЯреАрд╡реА рд╢реЛ рдФрд░ рдмрд╣реБрдд рдХреБрдЫ</h1>
        <p class="hidden1">тВ╣149 рд╕реЗ рд╢реБрд░реВред рдХрднреА рднреА рдХреИрдВрд╕рд┐рд▓ рдХрд░реЗрдВред</p>
        <p id="para2" class="hidden2">
          рджреЗрдЦрдиреЗ рдХреЗ рд▓рд┐рдП рддреИрдпрд╛рд░ рд╣реИрдВ? рдЕрдкрдиреА рдореЗрдВрдмрд░рд╢рд┐рдк рдмрдирд╛рдиреЗ рдпрд╛ рд░реАрд╕реНрдЯрд╛рд░реНрдЯ рдХрд░рдиреЗ рдХреЗ рд▓рд┐рдП рдЕрдкрдирд╛ рдИрдореЗрд▓ рджрд░реНрдЬ рдХрд░реЗрдВред
        </p>

        <div class="subsc hidden1">
          <form class="inline-form" action="/login" method="get">
            <input
              type="email"
              name="email"
              placeholder="рдИрдореЗрд▓ рдкрддрд╛"
              required
            />
            <button class="btn btn-primary" type="submit">рд╢реБрд░реВ рдХрд░реЗрдВ</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <h2 class="hidden3">рдЕрднреА рдЯреНрд░реЗрдВрдбрд┐рдВрдЧ рдореЗрдВ</h2>
      <div class="trending-container">
        <div class="trending" id="trending-slider">
          <button class="slide-btn prev" onclick="scrollContainerLeft()">
            &#10094;
          </button>
          <div class="movie">
            <h1>1</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEh5DBxAyA7RQxi8PLlI2dWOOenBee8TYrVsU5VCcOTg_4mRU7VeES1ohGW2nsfGb1ZNI3TX-Ld8tXscJE56agSMk2gPBhUZM5BfTZQIesQlK73lM7-kecv7-hNdnKc305_pNuTIGHw6uIjt5zMALhFP8foNc06lCOQHKOr_R3VBp0TBc1Tm-MrukdeG-zs"
              alt="рдлрд╝рд┐рд▓реНрдо 1"
            />
          </div>
          <div class="movie">
            <h1>2</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEgjOqeGnI5gA9oQKXB1IoIJD96rY-uWhrBZK-yz-Aasmhiao8CqDdkciu5eeGc7NGd9V4dF_9X_pSUDSMMGwL_ePV6BfjIl5MEUwtW14AeAxBgp4ZKg3v5Fcmu_PGM6XBFxCb49bmEvpiavucVyUPByvQHh-fXM4sy7UayjRSv7Apl2pQDdHrDbt3-7d5k"
              alt="рдлрд╝рд┐рд▓реНрдо 2"
            />
          </div>
          <div class="movie">
            <h1>3</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEgruq6MKM8LzQSLOH3wjJ3cbFjO4C_SL5EDiQYxfhPZry-Rd0MLUHUK-XoGSiJPvaNF72BvzfC9VVk-PlTDJk67mFhp88MBCE3Gvg9jDc_BfO-smX6ZnP-d_sAxCJrzvLeBGHHZ6SbhlW2G1m5Ueq3MuHzfkx4nFbxejtw4MWw2T1yIEhpQIr9u5GdkOdk"
              alt="рдлрд╝рд┐рд▓реНрдо 3"
            />
          </div>
          <div class="movie">
            <h1>4</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEiMnE54ALi9RaK6Mp5tdcL2zh9LOSB8Ha0LPCUriSObCxR5W__rNk3_Ogo36RR0n63SXwTOreUVcwmm7fn7UelaAFeaU20ZiLpSb-YlVnzyT7RpBIBDjXHdEVIZ_kKKp2x0t3ursCVkHJNmUAA7EEbmb23ml2TdlxAAVZU9yPXL_LUfScAZF5aL1R762HI"
              alt="рдлрд╝рд┐рд▓реНрдо 4"
            />
          </div>
          <div class="movie">
            <h1>5</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEhrtfy5-njtZdc_TexzhB_t-_Nloe1hkJWRgn8ac8E_6vjuKurgPIrgoCZvqV5RDlJLtQLm8xs-kbm6aDWastEDPO7BAma8SuB_5imAyDjOsJjZ-uSQozX-y56rNNlonrwo0Hi0dSZmqYDWmAkgBZsCn2ChvlhCu4wFKafUa1-fz4fVw2feFjPrhPKdy80"
              alt="рдлрд╝рд┐рд▓реНрдо 5"
            />
          </div>
          <div class="movie">
            <h1>6</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEgXpJ6PJoaEiHQxAUYANIl8rnFu4c_pm7SLBAc20IwK29wzG57a2Oria0GB_dd9HUbZN0cfxjpKekgHAsEdC3JLL8-ASAnGf2VBGvjYy3I9xm9nb7Shq6bZW5x4F9hGW0b_SZds_5rolEe7Hl6yDYeFrdI0qHoGiw5fOwem2_DSt_Vy25IwnowDBRYbBEE"
              alt="рдлрд╝рд┐рд▓реНрдо 6"
            />
          </div>
          <div class="movie">
            <h1>7</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEjzoSVjtyYc__1Kh7SnrX12G6a7zHsRMr1w0D1gEMBMffyNnKjNOqACszWmLf6E5GEmlg2L7N137g8qWNzN-qO0-kHxvDCIQrf0dSL4-G59uYFAMXsCZCWjMLb19RY6gVp_VhXb11DskPaeT_3wWm8_Eyca1077BgHhdMEmNYpnf8Z6UmCkLMNIYkGFoxk"
              alt="рдлрд╝рд┐рд▓реНрдо 4"
            />
          </div>
          <div class="movie">
            <h1>8</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEhZwTpmwv69fysOch2nxIBO6docPMqiXLCw_Fh_MXSYNhwasmoB6fqJbtnLwidEeijj7MEpp1feo8UezSKoeDJ6k_2N9aOqNNgn8Lp2_XIHDTyqzkh6MMV8eV0PR3MBCDpv2nKBD_Vu7-5WLSG-e83YeREKfOSMnI9Zt67eJEhTdp8tDPe3Wp52b0jG3UI"
              alt="рдлрд╝рд┐рд▓реНрдо 5"
            />
          </div>
          <div class="movie">
            <h1>9</h1>
            <img
              src="https://blogger.googleusercontent.com/img/a/AVvXsEiZxAb7bmJvyIo61DdG3zO6RP5Lhv9qq22ESNVyfH001bGJa7aCWC3SThKW4R68g5mWtIzb0jUS2p-Cn_hzZUO91Nor9aDOjcVHTYoOqR9czAi8vpBxS8JGB_7Vh-52A0-I09IxKsMcAOPgYtAp4jJJZqXGIrJoLY8IEhGjA2oe8uZxndj377Z67rk6x6g"
              alt="рдлрд╝рд┐рд▓реНрдо 6"
            />
          </div>
          <div class="movie">
            <h1>10</h1>
            <img
              src="https://occ-0-2087-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABfV7XTOSOhl6eCjB1DpCfZZ2LR94pPtH6N8UjdxPYinHcZnftde-ixgjkN6zPcdgTFO4LDLQWc2Ll2uLnbDea8tQnvi7J2_FK3ILf9-7UXvXsNL_N6EyPleNzLe9EIuVzAomHyLDdHZaJKlnQo8HYOF5skERiHK4m--eNSkDoUpGzLBT8dCWTm2F2NXznqSVxg2lQKSQSscauZRD.webp?r=5d5"
              alt="рдлрд╝рд┐рд▓реНрдо 6"
            />
          </div>
        </div>
        <button class="slide-btn next" onclick="scrollRight()">&#10095;</button>
      </div>
    </div>
    <div class="container2">
      <h1 class="hidden3">рдЖрдкрдХреА рдЬрд╝рд░реВрд░рддреЛрдВ рдХреЗ рд╣рд┐рд╕рд╛рдм рд╕реЗ рдкреНрд▓рд╛рди</h1>
      <div class="plans">
        <div class="plan hidden1" id="basic">
          <h2>рдореЛрдмрд╛рдЗрд▓</h2>
          <p id="ght">480p</p>
          <p>&#10003; рд╕рдВрддреЛрд╖рдЬрдирдХ рд╡реАрдбрд┐рдпреЛ рдХреНрд╡рд╛рд▓рд┐рдЯреА</p>
          <p>&#10003; рдЖрдкрдХреЗ рдлрд╝реЛрди рдпрд╛ рдЯреИрдмрд▓реЗрдЯ рдХреЗ рд▓рд┐рдП</p>
          <p class="price1">&#8377;149 /рдорд╛рд╣</p>
        </div>
        <div class="plan hidden1" id="basic">
          <h2>рдмреЗрд╕рд┐рдХ</h2>
          <p id="ght">720p</p>
          <p>&#10003; рдЕрдЪреНрдЫреА рд╡реАрдбрд┐рдпреЛ рдХреНрд╡рд╛рд▓рд┐рдЯреА</p>
          <p>&#10003; рдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд▓реИрдкрдЯреЙрдк рдФрд░ рдЯреАрд╡реА рдХреЗ рд▓рд┐рдП</p>
          <p class="price1">&#8377;199 /рдорд╛рд╣</p>
        </div>
        <div class="plan hidden1" id="Standard">
          <h2>рд╕реНрдЯреИрдВрдбрд░реНрдб</h2>
          <p id="ght">1080p</p>
          <p>&#10003; рдмреЗрд╣рддрд░реАрди рд╡реАрдбрд┐рдпреЛ рдХреНрд╡рд╛рд▓рд┐рдЯреА</p>
          <p>&#10003; рдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд▓реИрдкрдЯреЙрдк рдФрд░ рдЯреАрд╡реА рдХреЗ рд▓рд┐рдП</p>
          <p class="price1">&#8377;499 /рдорд╛рд╣</p>
        </div>
        <div class="plan hidden1" id="Premium">
          <h2>рдкреНрд░реАрдорд┐рдпрдо</h2>
          <p id="ght">4K + HDR</p>
          <p>&#10003; рд╕рд░реНрд╡рд╢реНрд░реЗрд╖реНрда рд╡реАрдбрд┐рдпреЛ рдХреНрд╡рд╛рд▓рд┐рдЯреА</p>
          <p>&#10003; рдЗрдорд░реНрд╕рд┐рд╡ рд╕рд╛рдЙрдВрдб (рд╕реНрдкреЗрд╢рд┐рдпрд▓ рдСрдбрд┐рдпреЛ)</p>
          <p>&#10003; рдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд▓реИрдкрдЯреЙрдк рдФрд░ рдЯреАрд╡реА рдХреЗ рд▓рд┐рдП</p>
          <p class="price">&#8377;649 /рдорд╛рд╣</p>
        </div>
      </div>
      <div class="fea">
        <h2 class="hidden3">рдЬреБрдбрд╝рдиреЗ рдХреЗ рдФрд░ рднреА рдХрд╛рд░рдг</h2>
        <div class="features">
          <div class="feature hidden1">
            <h3>рдХрднреА рднреА рдХреИрдВрд╕рд┐рд▓ рдХрд░реЗрдВ рдпрд╛ рдкреНрд▓рд╛рди рдмрджрд▓реЗрдВ</h3>
            <p>
              рдмрд┐рдирд╛ рдХрд┐рд╕реА рдкрд░реЗрд╢рд╛рдиреА рдХреЗ, рдЬрдм рдЪрд╛рд╣реЗрдВ рдЕрдкрдиреЗ рдкреНрд▓рд╛рди рдореЗрдВ рдмрджрд▓рд╛рд╡ рдХрд░реЗрдВред
            </p>

            <img src="../assets/hand1.png" class="hand" />
          </div>
          <div class="feature hidden1">
            <h3>рд╕рд┐рд░реНрдлрд╝ рдмрдЪреНрдЪреЛрдВ рдХреЗ рд▓рд┐рдП рд╕реБрд░рдХреНрд╖рд┐рдд рдЬрдЧрд╣</h3>
            <p>
              рдмрдЪреНрдЪреЛрдВ рдХреЛ рдЙрдирдХреЗ рдкрд╕рдВрджреАрджрд╛ рдХрд┐рд░рджрд╛рд░реЛрдВ рдХреЗ рд╕рд╛рде рд░реЛрдорд╛рдВрдЪ рдкрд░ рднреЗрдЬреЗрдВ, рдПрдХ рдРрд╕реА рдЬрдЧрд╣ рдЬреЛ
              рд╕рд┐рд░реНрдлрд╝ рдЙрдирдХреЗ рд▓рд┐рдП рдмрдиреА рд╣реИред
            </p>
            <img src="../assets/hand1.png" class="hand" />
          </div>

          <div class="feature hidden1">
            <h3>рдЕрдкрдиреЗ рдкрд╕рдВрджреАрджрд╛ рдбрд┐рд╡рд╛рдЗрд╕ рдкрд░ рджреЗрдЦреЗрдВ</h3>
            <p>
              рдЕрдкрдиреЗ рдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд▓реИрдкрдЯреЙрдк рдФрд░ рдЯреАрд╡реА рдкрд░ рдвреЗрд░ рд╕рд╛рд░реА рдлрд╝рд┐рд▓реНрдореЗрдВ рдФрд░ рд╢реЛ
              рд╕реНрдЯреНрд░реАрдо рдХрд░реЗрдВред
            </p>
            <img src="../assets/hand1.png" class="hand" />
          </div>
          <div class="feature hidden1">
            <h3>рдЖрдкрдХреА рдкрд╕рдВрдж рдХреА рдХрд╣рд╛рдирд┐рдпрд╛рдВ</h3>
            <p>
              рдкрд░реНрд╕рдирд▓рд╛рдЗрдЬрд╝реНрдб рд░рд┐рдХрдореЗрдВрдбреЗрд╢рди рдХреЗ рд╕рд╛рде, рдРрд╕рд╛ рдордиреЛрд░рдВрдЬрди рдЦреЛрдЬреЗрдВ рдЬреЛ рдЖрдкрдХреЛ рддреБрд░рдВрдд
              рдкрд╕рдВрдж рдЖрдПрдЧрд╛ред
            </p>
            <img src="../assets/hand1.png" class="hand" />
          </div>
        </div>
      </div>
      <h1 id="faques">рдЕрдХреНрд╕рд░ рдкреВрдЫреЗ рдЬрд╛рдиреЗ рд╡рд╛рд▓реЗ рд╕рд╡рд╛рд▓</h1>
      <div class="faq-container">
        <div class="faq-item hidden1">
          <button class="faq-question">
            StreamSphere рдХреНрдпрд╛ рд╣реИ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            StreamSphere рдПрдХ рд╕реНрдЯреНрд░реАрдорд┐рдВрдЧ рд╕реЗрд╡рд╛ рд╣реИ рдЬреЛ рдЯреАрд╡реА рд╢реЛ, рдлрд╝рд┐рд▓реНрдореЗрдВ, рдПрдиреАрдореЗ рдФрд░ рдмрд╣реБрдд рдХреБрдЫ
            рдкреНрд░рджрд╛рди рдХрд░рддреА рд╣реИред рдЖрдк рдорд╛рд╕рд┐рдХ рд╢реБрд▓реНрдХ рдкрд░ рдХрдИ рдбрд┐рд╡рд╛рдЗрд╕ рдкрд░ рдХрднреА рднреА рджреЗрдЦ рд╕рдХрддреЗ рд╣реИрдВред
          </div>
        </div>

        <div class="faq-item hidden1">
          <button class="faq-question">
            StreamSphere рдХреА рдХреАрдордд рдХрд┐рддрдиреА рд╣реИ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            StreamSphere рдЕрд▓рдЧ-рдЕрд▓рдЧ рдХреАрдорддреЛрдВ рдкрд░ рд╡рд┐рднрд┐рдиреНрди рдкреНрд▓рд╛рди рдкреЗрд╢ рдХрд░рддрд╛ рд╣реИред рддрд╛рдЬрд╝рд╛ рдХреАрдорддреЛрдВ
            рдХреЗ рд▓рд┐рдП StreamSphere рдХреА рд╡реЗрдмрд╕рд╛рдЗрдЯ рджреЗрдЦреЗрдВред
          </div>
        </div>

        <div class="faq-item hidden1">
          <button class="faq-question">
            рдореИрдВ рдХрд╣рд╛рдБ рджреЗрдЦ рд╕рдХрддрд╛ рд╣реВрдБ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            <div id="para1">
              рдЖрдк рд╕реНрдорд╛рд░реНрдЯрдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд╕реНрдорд╛рд░реНрдЯ рдЯреАрд╡реА рдФрд░ рдХрдВрдкреНрдпреВрдЯрд░ рдЬреИрд╕реЗ рдХрдИ рдбрд┐рд╡рд╛рдЗрд╕ рдкрд░
              StreamSphere рджреЗрдЦ рд╕рдХрддреЗ рд╣реИрдВред
            </div>
            рдХрднреА рднреА, рдХрд╣реАрдВ рднреА рджреЗрдЦреЗрдВред рдЕрдкрдиреЗ рдкрд░реНрд╕рдирд▓ рдХрдВрдкреНрдпреВрдЯрд░ рдпрд╛ рдЗрдВрдЯрд░рдиреЗрдЯ рд╕реЗ рдЬреБрдбрд╝реЗ рдХрд┐рд╕реА рднреА
            рдбрд┐рд╡рд╛рдЗрд╕ (рдЬреИрд╕реЗ рд╕реНрдорд╛рд░реНрдЯ рдЯреАрд╡реА, рд╕реНрдорд╛рд░реНрдЯрдлрд╝реЛрди, рдЯреИрдмрд▓реЗрдЯ, рд╕реНрдЯреНрд░реАрдорд┐рдВрдЧ рдореАрдбрд┐рдпрд╛ рдкреНрд▓реЗрдпрд░ рдФрд░
            рдЧреЗрдо рдХрдВрд╕реЛрд▓) рдкрд░ рддреБрд░рдВрдд рджреЗрдЦрдиреЗ рдХреЗ рд▓рд┐рдП рдЕрдкрдиреЗ StreamSphere рдЕрдХрд╛рдЙрдВрдЯ рд╕реЗ рд╕рд╛рдЗрди рдЗрди рдХрд░реЗрдВред
          </div>
        </div>

        <div class="faq-item hidden1">
          <button class="faq-question">
            рдореИрдВ рдХреИрдВрд╕рд┐рд▓ рдХреИрд╕реЗ рдХрд░реВрдБ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            StreamSphere рд▓рдЪреАрд▓рд╛ рд╣реИред рдХреЛрдИ рдЕрдЬреАрдм рдЕрдиреБрдмрдВрдз рдирд╣реАрдВ рдФрд░ рдХреЛрдИ рдмрдВрдзрди рдирд╣реАрдВред рдЖрдк рджреЛ рдХреНрд▓рд┐рдХ
            рдореЗрдВ рдЕрдкрдирд╛ рдЕрдХрд╛рдЙрдВрдЯ рдСрдирд▓рд╛рдЗрди рдЖрд╕рд╛рдиреА рд╕реЗ рдХреИрдВрд╕рд┐рд▓ рдХрд░ рд╕рдХрддреЗ рд╣реИрдВред рдХреЛрдИ рдХреИрдВрд╕рд┐рд▓реЗрд╢рди рдлреАрд╕ рдирд╣реАрдВ рд╣реИ -
            рдЕрдкрдирд╛ рдЕрдХрд╛рдЙрдВрдЯ рдХрднреА рднреА рд╢реБрд░реВ рдпрд╛ рдмрдВрдж рдХрд░реЗрдВред
          </div>
        </div>

        <div class="faq-item hidden1">
          <button class="faq-question">
            рдореИрдВ StreamSphere рдкрд░ рдХреНрдпрд╛ рджреЗрдЦ рд╕рдХрддрд╛ рд╣реВрдБ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            StreamSphere рдХреЗ рдкрд╛рд╕ рдлреАрдЪрд░ рдлрд┐рд▓реНрдореЛрдВ, рдбреЙрдХреНрдпреВрдореЗрдВрдЯреНрд░реА, рдЯреАрд╡реА рд╢реЛ, рдПрдиреАрдореЗ, рдЕрд╡рд╛рд░реНрдб-рд╡рд┐рдирд┐рдВрдЧ
            StreamSphere рдУрд░рд┐рдЬрд┐рдирд▓реНрд╕ рдФрд░ рдмрд╣реБрдд рдХреБрдЫ рдХреА рдПрдХ рд╡рд┐рд╕реНрддреГрдд рд▓рд╛рдЗрдмреНрд░реЗрд░реА рд╣реИред рдЖрдк рдЬрд┐рддрдирд╛ рдЪрд╛рд╣реЗрдВ,
            рдЬрдм рдЪрд╛рд╣реЗрдВ рджреЗрдЦ рд╕рдХрддреЗ рд╣реИрдВред
          </div>
        </div>

        <div class="faq-item hidden1">
          <button class="faq-question">
            рдХреНрдпрд╛ StreamSphere рдмрдЪреНрдЪреЛрдВ рдХреЗ рд▓рд┐рдП рдЕрдЪреНрдЫрд╛ рд╣реИ?
            <span class="toggle-icon">+</span>
          </button>
          <div class="faq-answer">
            <div id="para1">
              StreamSphere рдХрд╛ рдХрд┐рдбреНрд╕ рдПрдХреНрд╕рдкреАрд░рд┐рдпрдВрд╕ рдЖрдкрдХреА рдореЗрдВрдмрд░рд╢рд┐рдк рдореЗрдВ рд╢рд╛рдорд┐рд▓ рд╣реИ рддрд╛рдХрд┐ рдорд╛рддрд╛-рдкрд┐рддрд╛
              рдХреЛ рдХрдВрдЯреНрд░реЛрд▓ рдорд┐рд▓реЗ рдФрд░ рдмрдЪреНрдЪреЗ рдЕрдкрдиреА рдЦреБрдж рдХреА рдЬрдЧрд╣ рдореЗрдВ рдлреИрдорд┐рд▓реА-рдлреНрд░реЗрдВрдбрд▓реА рдЯреАрд╡реА рд╢реЛ рдФрд░
              рдлрд┐рд▓реНрдореЛрдВ рдХрд╛ рдЖрдирдВрдж рд▓реЗ рд╕рдХреЗрдВред
            </div>
            рдХрд┐рдбреНрд╕ рдкреНрд░реЛрдлрд╛рдЗрд▓ рдкрд┐рди-рдкреНрд░реЛрдЯреЗрдХреНрдЯреЗрдб рдкреЗрд░реЗрдВрдЯрд▓ рдХрдВрдЯреНрд░реЛрд▓ рдХреЗ рд╕рд╛рде рдЖрддреЗ рд╣реИрдВ рдЬреЛ рдЖрдкрдХреЛ рдЙрд╕ рдХрдВрдЯреЗрдВрдЯ
            рдХреА рдореИрдЪреНрдпреЛрд░рд┐рдЯреА рд░реЗрдЯрд┐рдВрдЧ рдХреЛ рдкреНрд░рддрд┐рдмрдВрдзрд┐рдд рдХрд░рдиреЗ рджреЗрддреЗ рд╣реИрдВ рдЬрд┐рд╕реЗ рдмрдЪреНрдЪреЗ рджреЗрдЦ рд╕рдХрддреЗ рд╣реИрдВ рдФрд░
            рдЙрди рд╡рд┐рд╢рд┐рд╖реНрдЯ рд╢реАрд░реНрд╖рдХреЛрдВ рдХреЛ рдмреНрд▓реЙрдХ рдХрд░ рд╕рдХрддреЗ рд╣реИрдВ рдЬрд┐рдиреНрд╣реЗрдВ рдЖрдк рдмрдЪреНрдЪреЛрдВ рдХреЛ рдирд╣реАрдВ рджрд┐рдЦрд╛рдирд╛ рдЪрд╛рд╣рддреЗред
          </div>
        </div>
      </div>
      <div class="newsubsc">
        <p id="para2">
          рджреЗрдЦрдиреЗ рдХреЗ рд▓рд┐рдП рддреИрдпрд╛рд░ рд╣реИрдВ? рдЕрдкрдиреА рдореЗрдВрдмрд░рд╢рд┐рдк рдмрдирд╛рдиреЗ рдпрд╛ рд░реАрд╕реНрдЯрд╛рд░реНрдЯ рдХрд░рдиреЗ рдХреЗ рд▓рд┐рдП рдЕрдкрдирд╛ рдИрдореЗрд▓ рджрд░реНрдЬ рдХрд░реЗрдВред
        </p>

        <div class="subsc hidden1">
           <form class="inline-form" action="/login" method="get">
            <input
              type="email"
              name="email"
              placeholder="рдИрдореЗрд▓ рдкрддрд╛"
              required
            />
            <button class="btn btn-primary" type="submit">рд╢реБрд░реВ рдХрд░реЗрдВ</button>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-call">
        рд╕рд╡рд╛рд▓ рд╣реИрдВ? рдХреЙрд▓ рдХрд░реЗрдВ
        <a href="tel:000-800-919-1743">000-800-919-1743</a>
      </div>
      <div class="footer-links">
        <div>
          <a href="#">рдЕрдХреНрд╕рд░ рдкреВрдЫреЗ рдЬрд╛рдиреЗ рд╡рд╛рд▓реЗ рд╕рд╡рд╛рд▓</a>
          <a href="#">рдЗрдиреНрд╡реЗрд╕реНрдЯрд░ рд░рд┐рд▓реЗрд╢рдиреНрд╕</a>
          <a href="#">рдЧреЛрдкрдиреАрдпрддрд╛</a>
          <a href="#">рд╕реНрдкреАрдб рдЯреЗрд╕реНрдЯ</a>
        </div>
        <div>
          <a href="#">рд╕рд╣рд╛рдпрддрд╛ рдХреЗрдВрджреНрд░</a>
          <a href="#">рдиреМрдХрд░рд┐рдпрд╛рдВ</a>
          <a href="#">рдХреБрдХреА рдкреНрд░реЗрдлрд░реЗрдВрд╕реЗрд╕</a>
          <a href="#">рдХрд╛рдиреВрдиреА рд╕реВрдЪрдирд╛рдПрдВ</a>
        </div>
        <div>
          <a href="#">рдЕрдХрд╛рдЙрдВрдЯ</a>
          <a href="#">рджреЗрдЦрдиреЗ рдХреЗ рддрд░реАрдХреЗ</a>
          <a href="#">рдХреЙрд░реНрдкреЛрд░реЗрдЯ рдЬрд╛рдирдХрд╛рд░реА</a>
          <a href="#">рд╕рд┐рд░реНрдлрд╝ StreamSphere рдкрд░</a>
        </div>
        <div>
          <a href="#">рдореАрдбрд┐рдпрд╛ рдХреЗрдВрджреНрд░</a>
          <a href="#">рдЙрдкрдпреЛрдЧ рдХреА рд╢рд░реНрддреЗрдВ</a>
          <a href="#">рд╕рдВрдкрд░реНрдХ рдХрд░реЗрдВ</a>
        </div>
      </div>
      <button class="footer-language">ЁЯМР рд╣рд┐рдиреНрджреА тЦ╝</button>
      <div class="footer-bottom">StreamSphere рднрд╛рд░рдд</div>
    </footer>

    <script src="/js/css.js"></script>
    <script src="/js/email.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/toggle.js"></script>
  </body>
</html>